*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    min-height: 100vh;
    background: #49a5b7;
    padding: 20px;
    display: flex;
   
}

.left{
    width: 30%;
    padding-top: 2%;
    padding-left: 3%;
}

.right{
    padding: 50px;
    margin-left: 200px;

}

.content{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    margin-top: 30px;
}
 
.logo{
    height: 120px;
    width: 400px;
}

.fa-long-arrow-right{
    font-size: xx-large;
    margin-left: 10px;
    color: white;
    background: #49a5b7;
    padding-left: 10px;
    padding-right:10px;
    border: none;
}

.title{
    font-size: 4rem;
    height: 250px;
}

.discription{
    font-size: 1.2rem;
    
}

.login{
    border-radius: 7px;
    display: flex;
    flex-flow: column;
    background: darkblue;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 400px;
    padding: 10px;
    margin-top: 25px;
    margin-bottom: 70px;

}

.invite{
    color: white;
    font-size: 20px;
    transform: translateX(-15px);
}
.input-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.email-input{
    border: none;
    padding-left: 15px;
    width: 320px;
    height: 30px;
}

.button{
    cursor: pointer;
}

.animation{
    height: 40px;
}

#demo{
    width: 100%;
    height: 40px;
    background: blue;
}

.footer-content{
    margin-top: 20px;
}